<form method="post">
    <div class="row text-center">
        <div class="col">
            <label>Ваше имя:</label>
            <div>
                <input type="text" name="name" />
            </div>
            <label>Адрес доставки:</label>
            <div>
                <input type="text" name="address" />
            </div>
            <label>Номер телефона:</label>
            <div>
                <input type="text" name="phone" />
            </div>
            <label>Ваш E-mail:</label>
            <div>
                <input type="text" name="email" />
            </div>
            <label>Комментарии к заказу:</label>
            <div>
                <input type="text" name="comments" />
            </div>
            <br />
            <button class="btn btn-success" input type="submit" asp-controller="Order" asp-action="Check_out" role="button">Оформить заказ</button>
        </div>
    </div>
</form>