@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow text-center">
            <div class="card-body ">
                <a style="color:black" href="/product/index/@product.Id">
                    <img class="card-img-top" src="/img/notebook.jpg" alt="Notebook" />
                    <h5>@product.Name</h5>
                </a>
                <h6>Цена: @product.Cost руб.</h6>
            </div>
            <div class="card-footer">
                <a class="btn btn-dark" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id" role="button">Добавить в корзину</a>
            </div>
        </div>
    }
</div>