@model Product

<form method="post">
    <div class="text-center">
        <h3>Добавление нового продукта</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="/img/notebook.jpg" style="max-width: 100%" alt="Notebook" />
        </div>
        <div class="col">
            <div>
                <input type="text" size="50" name="name" placeholder="Название продукта" /><br /><br />
                <input type="text" size="50" name="id" placeholder="ID" /><br /><br />
                Описание: <textarea class="form-control" rows="10" name="description"></textarea><br />
            </div>
            <div class="text-right">
                Цена:
                <input type="number" size="5" name="cost" placeholder=Цена /> руб.<br />
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-success" type="submit" asp-controller="Admin" asp-action="AddNewProduct">Добавить</button>
            <a class="btn btn-dark" asp-controller="Admin" asp-action="Products" role="button">К списку продуктов</a>
        </div>
    </div>
</form>