<div class="text-center">
    <h3>Панель администратора</h3>
</div>
<div class="row">
    <div class="col-3">
        <div class="btn-group-vertical">
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Admin" asp-action="Orders">Заказы</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Admin" asp-action="Users">Пользователи</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Admin" asp-action="Roles">Роли</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Admin" asp-action="Products">Продукты</a>
        </div>
    </div>
</div>