<div class="row">
    <div class="col-3">
        <div class="btn-group-vertical">
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Roles" asp-action="Index">Роли</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Products" asp-action="Index">Продукты</a>
        </div>
    </div>
</div>