<div class="row">
    <div class="col-3">
        <div class="btn-group-vertical">
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a>
        </div>
    </div>
</div>