@model UserAccountViewModel

<form method="post">
    <div class="row">
        <div class="col text-center">
            <div>
                <h3>Регистрация</h3>
            </div>
            <div>
                <p>
                    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label asp-for="Login">Логин:</label><br />
                        <input asp-for="Login" size="30" placeholder="Example@example.com" /><br />
                        <span style="color:lightcoral" asp-validation-for="Login" />
                    </div>
                </p>
            </div>
            <div>
                <p>
                    <div>
                        <label asp-for="Password">Пароль:</label><br />
                        <input asp-for="Password" type="password" size="30" placeholder="Пароль" /><br />
                        <span style="color:lightcoral" asp-validation-for="Password" />
                    </div>
                </p>
            </div>
            <div>
                <p>
                    <div>
                        <label asp-for="ConfirmPassword">Подтвердите пароль:</label><br />
                        <input asp-for="ConfirmPassword" type="password" size="30" placeholder="Подтвердите пароль" /><br />
                        <span style="color:lightcoral" asp-validation-for="ConfirmPassword" />
                    </div>
                </p>
            </div>
            <p>
                <div>
                    <p>
                        <button class="btn btn-dark w-25" type="submit" asp-controller="Account" asp-action="Registration">Зарегистрироваться</button>
                    </p>
                </div>
            </p>
        </div>
    </div>
</form>